.uncool-ele
  cursor: context-menu
  position: relative
  &:after
    content: 'EDIT'
    font-size: 10px
    text-decoration: none
    position: absolute
    color: red
    right: 0
    transform: translateX(110%)

.uncool-temp
  color: transparent
  background-color: rgba(0, 0, 0, .07)