.uncool-ele
  &.uncool-ele-text
    outline: blue auto 3px
    cursor: context-menu
  &.uncool-ele-image
    position: relative
    cursor: pointer
    &:after
      $font-and-border: black
      content: 'change image'
      font-size: 15px
      text-decoration: none
      position: absolute
      background-color: rgb(70, 255, 51)
      border: 1px solid $font-and-border
      color: $font-and-border
      //box-shadow: 0 0 5px 0 black
      font-weight: bold
      padding: 5px 30px
      left: 50%
      transform: translateX(-50%)
      bottom: 30px
      z-index: 989
      font-family: monospace
      opacity: 1
    &:hover:after
      opacity: .8

.uc-btn
  min-width: 100px
  padding: 15px
  border: black thin solid
  padding: 5px 15px
  cursor: pointer
  text-align: center
  &.cancel
    color: white
    background-color: #666
    &:hover
      background-color: black
  &.continue
    margin-left: 15px
    &:hover
      background-color: black
      color: white



@keyframes boxShadowPulse
  0%
    box-shadow: 0 0 0 0 white
  50%
    box-shadow: 0 0 10px 0 orange
  100%
    box-shadow: 0 0 0 0 black

.uncool-temp
  color: transparent
  background-color: rgba(0, 0, 0, .07)